// colors, stolen from solarized
$text: #586e75;
$text2: #657b83;
$background: #fdf6e3;
$background2: #eee8d5;
$magenta: #d33682;
$red: #dc322f;
$orange: #cb4b16;
$yellow: #b58900;
$green: #859900;
$cyan: #2aa198;
$blue: #268bd2;
$violet: #6c71c4;
$dark: #002b36;

body {
	margin: 60px auto;
	width: 70%;
}

ul {
	margin: 20px auto 40px;
	font-size: 1.5em;
}

li::marker {
	color: $text2;
}

.templated {
	list-style: none;
}

nav ol, footer ol {
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

nav ol li, footer ol li {
	display: inline;
	margin-right: 15px;
}

a {
	text-decoration: none;
}

a:link {
	color: $blue;
}

a:visited {
	color: $violet;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: $dark;
}

h2 {
	color: $dark;
}

p {
	font-size: 1.5em;
	line-height: 1.4em;
	text-align: left; /* justify looks a little too weird on a screen */
	color: $text;
}

sup {
	line-height: 0;
	vertial-align: super;
	font-size: 0.7em;
}

pre {
	font-size: 1.5em;
	background: $background2;
	overflow: auto;
	white-space: pre-line;
	margin: 1em;
	padding: 0.3em;
}

footer {
	border-top: 2px solid #d5d5d5;
	font-size: .8em;
}

code {
	font-family: monospace;
	background: $background2;
	color: $text;
}

span {
	white-space: pre;
}

.kw, .cf {
	color: $red;
}

.op {
	color: $text;
}

.st {
	color: $green;
}

.bu {
	color: $orange;
}

.pp, .dt {
	color: $yellow;
}

.co {
	color: $text2;
}

.aside {
	float: right;
	max-width: 300px;
}

.aside > p {
	font-style: italic;
}

.dialog {
	/*background: $background2;*/
	margin: auto;
	width: 90%;
	display: flex;
}

.dialog-header {
	padding: 0.3em;
}

.dialog-text {
	display: block;
}

.dialog-text > p {
	background: $background2;
	color: $text2;
	font-style: italic;
	font-size: 1.4em;
	padding: 0.3em;
	border: 0.05em solid black;
}
